/* animation */
/* site loader */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
/* bg hero */
@keyframes bg-hero {
    0% , 25% {
        background-image: url(../images/bg-hero-01.jpg);
    }
    50% , 75% {
        background-image: url(../images/bg-hero-02.jpg);
    }
    100% {
        background-image: url(../images/bg-hero-03.jpg);
    }
}
/* scroll down */
@keyframes scroll-down {
    0% {
        bottom: 30px;
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100%  {
        bottom: -20px;
        opacity: 0;
    }
}
/* show element by translate */
@keyframes show-translate {
    0% {
        opacity: 0;
        transform: translateY(15%);
    }
    100% {
        opacity: 1;
    }
}
/* show element by rotate */
@keyframes show-rotate {
    0% , 100% {
        transform-origin: center bottom;
    }
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}
/* show element by scale */
@keyframes show-element {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
/* ring */
@keyframes ring {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}
/* styles */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #2ca8a0;
    --secondary-color: #4d4d4d;
    --bg-color: #141414;
    --duration-time: 0.5s
}
body,
html {
    scroll-behavior: smooth;
    text-align: center;
    font-family: 'raleway-medium' , sans-serif;
    overflow-x: hidden;
    color: #fff;
}
::selection {
    color: black;
    background-color: var(--primary-color);
}
ul , li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.title {
    width: 100%;
    max-width: 700px;
    font-size: 30px;
}
.title-icon {
    color: var(--primary-color);
    font-size: inherit;
}
/* site loader */
.site-loader {
    background-color: var(--bg-color);
    position: fixed;
    inset: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    transition-duration: 1s;
}
.loader-img {
    width: 300px;
    height: 150px;
    object-fit: contain;
}
.loader {
    padding: 20px;
    border-radius: 50%;
    border: 2px solid #333;
    border-top-color: var(--primary-color);
    animation: spin 1s linear infinite;
}
/* header */
#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition-duration: var(--duration-time);
}
/* navbar */
.navbar {
    padding: 0 2%; 
    background-color: #000;
    display: flex;
    justify-content: space-between;
}
/* website logo */
.website-logo {
    width: 230px;
    background: url(../images/website-logo.png) no-repeat left center;
    background-size: cover;
}
/* menu */
.menu {
    width: 450px;
    height: 100%;
    display: flex;
}
.menu-item {
    width: 20%;
}
.menu-item-link {
    display: block;
    padding: 15px 0;
    border-left: 1px solid #4d4d4d;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: var(--secondary-color);
    transition-duration: var(--duration-time);
}
.menu-item-link:hover {
    background-color: var(--primary-color);
    color: white;
}
.light {
    color: #fff;
}
/* menu hamburger */
.menu-hamburger {
    display: none;
}
/* section hero */
.hero {
    width: 100%;
    height: 100vh;
    padding: 0 30px;
    background: no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    animation: bg-hero 2s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-container {
    animation: show-translate var(--duration-time) linear;
}
.hero-title {
    font-size: 60px;
    text-transform: uppercase;
}
.hero-content {
    margin: 12px 0 25px 0;
    font-size: 18px;
    line-height: 24px;
    color: #6b6b6b;
}
.hero-btn {
    display: inline-block;
    min-width: 140px;
    padding: 13px 20px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
}
.btn-get-about {
    background-color: transparent;
    margin-right: 20px;
    border: 3px solid white;
}
.btn-get-contact {
    background-color:  var(--primary-color);
    border: 3px solid  var(--primary-color);
}
.header-btn:hover {
    opacity: 0.7;
}
/* scroll down */
.scroll-down {
    padding: 10px;
    position: absolute;
    bottom: 0;
    font-size: 36px;
    animation: scroll-down 2s ease-in-out infinite;
}
/* MAIN */
#main {
    background-color: var(--bg-color);
    color: white;
}
/* Portfolio */
.portfolio-title {
    padding: 70px 0 90px 0;
    margin: 0 auto;
}
.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.gallery-item {
    width: calc(100% / 3);
    overflow: hidden;
}
.gallery-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
    transition-duration: var(--duration-time);
}
.gallery-item:hover .gallery-item-img {
    transform: scale(1.05);
    filter: brightness(100%);
}
.parent-show_rotate {
    perspective: 1000px;
    overflow: visible !important;
}
.show_rotate {
    display: none;
    animation: show-rotate 1.2s cubic-bezier(0.3, 0.885, 0.32, 1.35) forwards;
}

/* about */
/* about item 01 */
.about-item-01 {
    padding: 130px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-item-01-image {
    border-radius: 50%;
}
.show_scale {
    display: none;
    transform: scale(0);
    animation: show-element 1s cubic-bezier(0.175, 0.885, 0.32, 1.25) forwards;
}
.about-item-01-title {
    padding: 50px 0  70px 0;
    position: relative;
}
.about-item-01-title::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.about-item-01-content {
    width: 49%;
    line-height: 160%;
    margin: 50px 0;
}
.about-item-01-inform {
    width: 53%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 40px;
}
.inform-item {
    min-width: 170px;
}
.inform-item-number {
    font-size: 40px;
    display: block;
    font-family: sans-serif;
}
/* about item 02 */
.about-item-02 {
    width: 100%;
    padding: 130px 30px;
    background: linear-gradient(to right , rgba(0, 0, 0, 0.800),rgba(0, 0, 0, 0.800)) , url(../images/bg-about.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-item-02-title {
    width: 100%;
    margin-bottom: 40px;
}
/* slider */
.slider {
    width: 80%;
    min-height: 200px;
    position: relative;
}

.slide-item {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font: 20px / 34px sans-serif;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.75s;
}

.show-slide {
    visibility: visible;
    opacity: 1;
}

.profile {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    text-align: left;
}

.profile-img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.profile-name {
    font: bolder 19px sans-serif;
}

.profile-profession {
    font-size: 12px;
    color: #b4b4b4;
}

.profile a:hover {
    text-decoration: underline;
}

/* slider btn */
.btn-prev,
.btn-next {
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    opacity: 0;
    position: absolute;
    top: 20%;
    font-size: 40px;
    color: #888;
    transition-duration: 0.5s;
}

.btn-next {
    left: 104%;
}

.btn-prev {
    right: 104%;
}

.slider:hover .btn-prev,
.slider:hover .btn-next {
    opacity: 1;
}

.btn-prev:hover,
.btn-next:hover {
    color: #fff;
}
.about-item-02-logos {
    width: 100%;
    padding: 0 130px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}
.about-item-02-logos .logo {
    width: 16%;
    height: 100px;
    background:  no-repeat center center;
    background-size: 100%;
}
.about-item-02-logos .logo-01 {
    background-image: url(../images/dribbble.png);
}
.about-item-02-logos .logo-02 {
    background-image: url(../images/enfold.png);
}
.about-item-02-logos .logo-03 {
    background-image: url(../images/jquery.png);
}
.about-item-02-logos .logo-04 {
    background-image: url(../images/microlancer.png);
}
.about-item-02-logos .logo-05 {
    background-image: url(../images/wordpress.png);
}
.about-item-02-logos .logo-06 {
    background-image: url(../images/wpml.png);
}

/* services */
#services {
    padding: 130px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-title {
    padding-bottom: 60px;
    position: relative;
}
.services-title::after {
    content: "";
    width: 50px;
    height: 2.5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
}
.services-menu {
    max-width: 1200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services-menu-item {
    width: 30%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.services-icon {
    padding: 22px;
    margin-right: 20px;
    margin-left: auto;
    border: 1px solid rgba(255, 255, 255, 0.168);
    border-radius: 50%;
    font-size: 26px;
}
.services-section {
    width: 70%;
    text-align: left;
    line-height: 170%;
}
.section-title {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
}
.section-title span {
    font-family: sans-serif;
}

/* Contact */
.contact {
    width: 100%;
    padding: 130px 30px;
    background:linear-gradient(to right , rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700)) , url(../images/bg-cantact.jpg) no-repeat center top;
    background-size: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-title {
    padding-bottom: 60px;
    position: relative;
}
.contact-title::after {
    content: "";
    width: 50px;
    height: 2.5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}
/* form */
form {
    width: 55%;
    max-width: 690px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-item {
    padding: 10px;
    outline: none;
    border: 2px solid white;
    border-radius: 2px;
    background-color: transparent;
    text-align: left;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    transition-duration: var(--duration-time);
}
.form-item::placeholder {
    color: rgba(255, 255, 255, 0.800);
    font-size: 17px;
}
input[type=email] , input[type=text] {
    width: 49.5%;
}
textarea {
    width: 100%;
    height: 200px;
    margin-top: 15px;
}
.submit {
    width: 145px;
    line-height: 32px;
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 15px;
}
.submit:hover {
    background-color: palevioletred;
}
/* social media */
.social-media {
    padding: 130px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media-title {
    margin-bottom: 55px;
}
.social-media-icons {
    width: 43%;
    max-width: 600px;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
}
.social-media-icon {
    padding: 28px;
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
    font-size: 40px;
}
.social-media-icon::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.368);
    box-shadow: 0 0 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 97;
    transform: scale(1);
    opacity: 0;
}
.social-media-icon:hover::after {
    opacity: 0;
    animation: ring 0.8s ease-out;
}
.social-media-icon:nth-child(2) {
    animation-delay: 0.2s;
}
.social-media-icon:nth-child(3) {
    animation-delay: 0.4s;
}
/* FOOTER */
#footer {
    padding: 10px 150px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
}
.footer-nav-01 a:hover {
    text-decoration: underline;
}
.footer-nav-01 {
    margin-right: 20px;
}
.footer-nav-02 {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-social-media-icons {
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 27px;
}
.footer-icon {
    padding: 10px;
    border-radius: 50%;
    opacity: 0.5;
    transition-duration: var(--duration-time);
}
.footer-icon:hover{
    opacity: 1;
}
#footer .icon-twitter:hover {
    background-color: aqua;
}
#footer .icon-facebook:hover {
    background-color: royalblue;
}
#footer .icon-dribbble:hover {
    background-color: palevioletred;
}
/* scroll up */
.scroll-up {
    padding: 10px;
    border-radius: 5px;
    background-color: #000000b3;
    position: fixed;
    bottom: 6%;
    right: 4%;
    z-index: 98;
    transition-duration: var(--duration-time);
}
.scroll-up:hover {
    border: 1px solid var(--primary-color);
    background-color: #000;
    box-shadow: 0 0 10px var(--primary-color);
}
/* responsive */
@media (max-width:1024px) {
    /* main */
    .services-menu {
        padding-right: 4%;
    }
    .services-menu-item {
        width: 47%;
    }
    /* footer */
    #footer {
        padding: 10px 50px;
    }
}
@media (max-width:768px) {
    .title {
        font-size: 24px;
        width: 85%;
    }
    /* header */
    .navbar {
        height: 80px;
        padding: 0 5%;
        align-items: center;
    }
   .website-logo {
        width: 40%;
        height: 50%;
    }
    /* menu */
    .menu {
        width: min(70%,340px) ;
        height: 100vh;
        background-color: #080808;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 100%;
        opacity: 0;
        visibility: hidden;
        transition-duration: var(--duration-time);
    }
    .menu::after {
        content: '';
        width: 100vw;
        height: 100%;
        background-color: #00000066;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 100%;
    }
    .menu-item {
        width: 100%;
    }
    .menu-item-link {
        border-left: none;
        border-bottom: 1px solid #2b2b2b;
        padding-left: 40px;
        font-size: 15px;
        font-weight: normal;
        text-transform: capitalize;
        text-align: left;
        color: #fff;
    }
    .menu-hamburger {
        display: block;
        padding: 10px;
        cursor: pointer;
        font-size: 20px;
        color: var(--secondary-color);
        position: relative;
        z-index: 99;
        transition-duration: var(--duration-time);
    }
    .menu-hamburger:hover {
        color: #fff;
    }
    .show-menu {
        transform: translateX(-100%);
        opacity: 1;
        visibility: visible;
    }
    .icon-close {
        color: #fff;
        transform: rotate(-180deg);
    }
    .hero-container {
        transform: translateY(40px);
    }
    .hero-content span {
        display: inline;
    }
    /* main */
    /* portfolio */
    .gallery-item {
        width: calc(100% / 2);
    }
    /* about */
    .about-item-01-content {
        width: 85%;
    }
    .slider {
        min-height: 230px;
    }
    .about-item-01 .inform-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .about-item-02-logos {
        padding: 10px 20px;
    }
    .about-item-02-logos .logo {
        width: 50%;
        margin-bottom: 50px;
        background-size: 90%;
    }
    /* Services */
    .services-menu {
        padding-right: 10%;
    }
    .services-menu-item {
        width: 100%;
    }
    /* contact */
    .contact form {
        width: 90%;
    }
    /* footer */
    .footer-nav-02 {
        margin-left: 0px;
    }
    .footer-social-media-icons {
        padding-top: 10px;
    }
}
@media (max-width:600px) {
    .title {
        width: 85%;
    }
    /* header */
    .hero-title {
        font-size: 50px;
    }
    .slider {
        min-height: 290px;
    }

    .btn-prev,
    .btn-next {
        top: 80%;
    }

    .btn-next {
        left: 85%;
    }
    
    .btn-prev {
        right: 85%;
    }
    /* Social media */
    .social-media-icons {
        flex-direction: column;
        row-gap: 25px;        
        align-items: center;
        transform: scale(0.9);
    }
    /* footer */
    #footer {
        flex-direction: column;
        row-gap: 10px;
    }
    .footer-social-media-icons {
        padding-top: unset;
        margin-left: unset;
    }
}
@media (max-width: 480px) {
    .slider {
        min-height: 370px;
    }
}
@media (max-width: 426px) {
    .slider {
        min-height: 430px;
    }
}
/* 742 khat */