/* animation */
/* site loader */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
/* bg hero */
@keyframes bg-hero {
    0% , 25% {
        background-image: url(../images/bg-hero-01.jpg);
    }
    50% , 75% {
        background-image: url(../images/bg-hero-02.jpg);
    }
    100% {
        background-image: url(../images/bg-hero-03.jpg);
    }
}
/* scroll down */
@keyframes scroll-down {
    0% {
        bottom: 30px;
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100%  {
        bottom: -20px;
        opacity: 0;
    }
}
/* show element by translate */
@keyframes show-translate {
    0% {
        opacity: 0;
        transform: translateY(15%);
    }
    100% {
        opacity: 1;
    }
}
/* show element by rotate */
@keyframes show-rotate {
    0% , 100% {
        transform-origin: center bottom;
    }
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}
/* show element by scale */
@keyframes show-element {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
/* ring */
@keyframes ring {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}
/* styles */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #2ca8a0;
    --secondary-color: #6B6B6B;
    --bg-color: #141414;
    --duration-time: 0.5s
}
body,
html {
    scroll-behavior: smooth;
    text-align: center;
    font-family: 'raleway-medium' , sans-serif;
    overflow-x: hidden;
    color: #fff;
}
::selection {
    color: black;
    background-color: var(--primary-color);
}
ul,
li {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
p {
    line-height: 1.5;
}
/* container */
.container {
    padding: 130px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
}
.container-sm {
    width: min(100%,750px);
}
.container-lg {
    width: min(100%,1350px);
}
/* title */
.title {
    font-size: 30px;
}
.title-icon {
    color: var(--primary-color);
}
/* btn */
.btn {
    min-width: 140px;
    padding: 13px 20px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    transition-duration: var(--duration-time);
}
.btn:hover {
    opacity: 0.7;
}
.btn-secondary {
    background-color: transparent;
    border: 3px solid #fff;
}
.btn-primary {
    background-color:  var(--primary-color);
    border: 3px solid  var(--primary-color);
}
/* subline */
.subline {
    padding-bottom: 55px;
    position: relative;
}
.subline::after {
    content: "";
    width: 50px;
    border-top: 3px solid var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* site loader */
.site-loader {
    background-color: var(--bg-color);
    position: fixed;
    inset: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    transition-duration: 1s;
}
.loader-img {
    width: 300px;
    height: 150px;
    object-fit: contain;
}
.loader {
    padding: 20px;
    border-radius: 50%;
    border: 2px solid #333;
    border-top-color: var(--primary-color);
    animation: spin 1s linear infinite;
}
/* header */
#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition-duration: var(--duration-time);
}
/* navbar */
.navbar {
    padding: 0 3%; 
    background-color: #000;
    display: flex;
    justify-content: space-between;
}
/* website logo */
.website-logo {
    width: 230px;
    background: url(../images/website-logo.png) no-repeat center center;
    background-size: cover;
}
/* menu */
.menu {
    width: max(32%,450px);
    display: flex;
}
.menu-item {
    width: calc(100%/5);
}
.menu-link {
    display: block;
    padding: 17px 0;
    border-left: 1px solid var(--secondary-color);
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: var(--secondary-color);
    transition-duration: var(--duration-time);
}
.menu-link:hover {
    background-color: var(--primary-color);
    color: white;
}
.light {
    color: #fff;
}
/* menu hamburger */
.menu-hamburger {
    display: none;
}
/* hero */
.hero {
    min-height: 100vh;
    background: no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    animation: bg-hero 2s ease-in-out forwards;
    position: relative;
}
.hero .container {
    min-height: 100vh;
    row-gap: 10px;
    animation: show-translate var(--duration-time) linear;
}
.hero-title {
    font-size: 60px;
    text-transform: uppercase;
}
.hero-content {
    font-size: 18px;
    color: var(--secondary-color);
}
.hero-btn {
    margin-top: 20px;
    display: flex;
    column-gap: 20px;
}
/* scroll down */
.scroll-down {
    padding: 10px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 36px;
    animation: scroll-down 2s ease-in-out infinite;
}
/* main */
#main {
    background-color: var(--bg-color);
    color: white;
}
/* portfolio */
#portfolio .container {
    padding: 70px 30px 90px;
}
/* gallery */
.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.gallery-item {
    height: 27vw;
    width: calc(100%/3);
    overflow: hidden;
}
.gallery-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
    transition-duration: var(--duration-time);
}
.gallery-item:hover
.gallery-item-img {
    transform: scale(1.05);
    filter: brightness(95%);
}
/* show gallery by rotate */
.parent-show_rotate {
    perspective: 1000px;
    overflow: visible !important;
}
.show_rotate {
    display: none;
    animation: show-rotate 1.2s cubic-bezier(0.3, 0.885, 0.32, 1.35) forwards;
}
/* about */
/* about item 01 */
.about-profile {
    border-radius: 50%;
}
.show_scale {
    display: none;
    transform: scale(0);
    animation: show-element 1s cubic-bezier(0.175, 0.885, 0.32, 1.25) forwards;
}
.about-inform {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 40px;
}
.inform-item {
    min-width: 170px;
}
.inform-number {
    font-size: 40px;
    display: block;
    font-family: sans-serif;
}
/* about item 02 */
.about-item-02 {
    background: linear-gradient(to right , rgba(0, 0, 0, 0.800),rgba(0, 0, 0, 0.800)) , url(../images/bg-about.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}
/* slider */
.slider {
    width: 80%;
    min-height: 200px;
    position: relative;
}
.slide-item {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font: 20px / 34px sans-serif;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.75s;
}
.show-slide {
    visibility: visible;
    opacity: 1;
}
/* slide profile */
.slider-profile {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    text-align: left;
}
.profile-img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
.profile-name {
    font: bolder 19px sans-serif;
}
.profile-profession {
    font-size: 12px;
    color: #b4b4b4;
}
.slider-profile a {
    font-size: 12px;
} 
.slider-profile a:hover {
    text-decoration: underline;
}
/* slider btn */
.btn-prev,
.btn-next {
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    opacity: 0;
    position: absolute;
    top: 20%;
    font-size: 40px;
    color: var(--secondary-color);
    transition-duration: var(--duration-time);
}
.btn-next {
    left: 104%;
}
.btn-prev {
    right: 104%;
}
.slider:hover .btn-prev,
.slider:hover .btn-next {
    opacity: 1;
}
.btn-prev:hover,
.btn-next:hover {
    color: #fff;
}
.about-logos {
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-logos .logo {
    width: calc(100%/6);
}
/* services */
/* services menu */
.services-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}
/* services item */
.services-item {
    width: 28%;
    display: flex;
    align-items: flex-start;
    column-gap: 25px;
    text-align: left;
}
.services-icon {
    padding: 24px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    font-size: 26px;
}
.services-title {
    margin-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
}
.services-title span {
    font-family: sans-serif;
}
/* contact */
#contact {
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.bg-attachment {
    width: 100%;
    height: 130%;
    background: linear-gradient(to right , rgba(0, 0, 0, 0.700),rgba(0, 0, 0, 0.700)) , url(../images/bg-contact.jpg) no-repeat center top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#contact .subline::after {
    border-top-color: #fff;
}
/* form */
form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-item {
    padding: 10px;
    outline: none;
    border: 2px solid #fff;
    border-radius: 2px;
    background-color: transparent;
    text-align: left;
    font: 20px sans-serif;
    color: #fff;
    transition-duration: var(--duration-time);
}
.form-item::placeholder {
    color: #fff;
    font-size: 17px;
}
input[type=email] , input[type=text] {
    width: 49.5%;
}
textarea {
    width: 100%;
    height: 200px;
    margin-top: 15px;
}
.submit {
    width: 145px;
    line-height: 32px;
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 15px;
}
.submit:hover {
    background-color: palevioletred;
}
/* sent message */
.form-message {
    font-size: 22px;
    visibility: hidden;
    opacity: 0;
    transition-duration: var(--duration-time);
}
/* social media */
.social-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.social-icon {
    padding: 28px;
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
    font-size: 40px;
}
.social-icon::after {
    content: "";
    border-radius: 50%;
    border: 6px solid rgba(255, 255, 255, 0.368);
    box-shadow: 0 0 12px;
    position: absolute;
    inset: 0;
    z-index: 97;
    opacity: 0;
}
.social-icon:hover::after {
    animation: ring 0.8s ease-out;
}
.social-icon:nth-child(2) {
    animation-delay: 0.2s;
}
.social-icon:nth-child(3) {
    animation-delay: 0.4s;
}
/* footer */
#footer {
    padding: 10px 150px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
}
.footer-nav-01 a:hover {
    text-decoration: underline;
}
.footer-nav-01 {
    margin-right: 20px;
}
.footer-nav-02 {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-social-icons {
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 27px;
}
.footer-icon {
    padding: 10px;
    border-radius: 50%;
    opacity: 0.5;
    transition-duration: var(--duration-time);
}
.footer-icon:hover{
    opacity: 1;
}
#footer .icon-twitter:hover {
    background-color: aqua;
}
#footer .icon-facebook:hover {
    background-color: royalblue;
}
#footer .icon-dribbble:hover {
    background-color: palevioletred;
}
/* scroll up */
.scroll-up {
    padding: 10px;
    border-radius: 5px;
    background-color: #000000b3;
    position: fixed;
    bottom: 6%;
    right: 4%;
    z-index: 98;
    transition-duration: var(--duration-time);
}
.scroll-up:hover {
    border: 1px solid var(--primary-color);
    background-color: #000;
    box-shadow: 0 0 10px var(--primary-color);
}
/* responsive */
@media (max-width:1024px) {
    /* main */
    /* about */
    .about-logos .logo {
        width: calc(100%/3);
    }
    /* services */
    .services-menu {
        padding-right: 4%;
    }
    .services-item {
        width: 47%;
    }
    /* footer */
    #footer {
        padding: 10px 50px;
    }
}
@media (max-width:768px) {
    .title {
        font-size: 24px;
        width: 85%;
    }
    /* header */
    .navbar {
        height: 80px;
        padding: 0 5%;
        align-items: center;
    }
   .website-logo {
        width: 40%;
        height: 50%;
    }
    /* menu */
    .menu {
        width: min(70%,340px) ;
        height: 100vh;
        background-color: #080808;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 100%;
        opacity: 0;
        visibility: hidden;
        transition-duration: var(--duration-time);
    }
    .menu::after {
        content: '';
        width: 100vw;
        height: 100%;
        background-color: #00000066;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 100%;
    }
    .menu-item {
        width: 100%;
    }
    .menu-link {
        border-left: none;
        border-bottom: 1px solid #2b2b2b;
        padding-left: 40px;
        font-size: 15px;
        font-weight: normal;
        text-transform: capitalize;
        text-align: left;
        color: #fff;
    }
    .menu-hamburger {
        display: block;
        padding: 10px;
        cursor: pointer;
        font-size: 20px;
        color: var(--secondary-color);
        position: relative;
        z-index: 99;
        transition-duration: var(--duration-time);
    }
    .menu-hamburger:hover {
        color: #fff;
    }
    .show-menu {
        transform: translateX(-100%);
        opacity: 1;
        visibility: visible;
    }
    .icon-close {
        color: #fff;
        transform: rotate(-180deg);
    }
    /* main */
    /* hero */
    .hero .container {
        transform: translateY(40px);
    }
    /* portfolio */
    .gallery-item {
        height: 40vw;
        width: calc(100% / 2);
    }
    /* about */
    .about-item-01-content {
        width: 85%;
    }
    .slider {
        min-height: 230px;
    }
    .about-item-01 .inform-item {
        width: 100%;
        margin-bottom: 20px;
    }
    /* services */
    .services-menu {
        padding-right: 10%;
    }
    .services-item {
        width: 100%;
    }
    /* contact */
    .contact form {
        width: 90%;
    }
    /* footer */
    .footer-nav-02 {
        margin-left: 0px;
    }
    .footer-social-icons {
        padding-top: 10px;
    }
}
@media (max-width:600px) {
    .title {
        width: 85%;
    }
    /* header */
    .hero-title {
        font-size: 50px;
    }
    .website-logo {
        width: 70%;
    }
    /* main */
    /* portfolio */
    .gallery-item {
        height: 80vw;
        width: 100%;
    }
    /* about */
    .slider {
        min-height: 290px;
    }
    .btn-prev,
    .btn-next {
        top: 80%;
    }
    .btn-next {
        left: 85%;
    }
    .btn-prev {
        right: 85%;
    }
    .about-logos .logo {
        width: calc(100%/2);
    }
    /* social media */
    .social-icons {
        flex-direction: column;
        row-gap: 25px;        
        align-items: center;
        transform: scale(0.9);
    }
    /* footer */
    #footer {
        flex-direction: column;
        row-gap: 10px;
    }
    .footer-social-icons {
        padding-top: unset;
        margin-left: unset;
    }
}
@media (max-width: 480px) {
    .slider {
        min-height: 370px;
    }
}
@media (max-width: 426px) {
    .slider {
        min-height: 430px;
    }
}